.signup-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .signup-form {
    flex: 1;
  }
  
  .form-container {
    background-color: #ffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  